<%- include("partials/header.ejs") %>

<div class="container" style="margin-top: 50px;">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5" style="margin-right: 0px;">
        
          <h1 class="display-3 fw-bold lh-1 mb-3">ABOUT US</h1>
          <p class="lead">Welcome to BassHarbour Ayurveda, where tradition meets modern wellness. We pride ourselves on delivering the finest Ayurvedic products that harmonize ancient wisdom with contemporary lifestyles. At BassHarbour, we believe in the power of Ayurveda to rejuvenate, heal, and restore balance to both mind and body.
         
           Our commitment to quality is unwavering. Each of our products, whether it's our revitalizing Ayurveda juice, soothing Ayurveda soap, or nourishing Ayurveda oil, is crafted with the utmost care and attention to detail. We source only the finest natural ingredients, carefully selected for their purity and potency, ensuring that every product delivers maximum benefits.</p>
    
           <hr>
          <div>
            <h4 class="display-7 lh-1 mb-3">ISO 9001:2015 Certification:</h4>
            <p>Certificate Number: BHAYU-ISO9001-2022</p>
            <p >Organization: BassHarbour Ayurveda</p>
            <p >Scope: Design, development, production, and distribution of Ayurvedic products including Ayurveda juice, Ayurveda soap, and Ayurveda oil.</p>
            <p > Certification Body: Quality Assurance International (QAI)</p>
            <p >Date of Issue: March 15, 2022</p>
            <p >Valid Until: March 15, 2027</p>
          </div>
          
          <hr>
          <div>
            <h4 class="display-7 lh-1 mb-3">GST Registration Certificate:</h4>
            <p > Registration Number: 123456789ABCDEF</p>
            <p >Organization: BassHarbour Ayurveda</p>
            <p >Type of Taxpayer: Regular</p>
            <p > Goods and Services Tax (GST) Rate: 18%</p>
            <p > Validity: Continuous (until surrendered, cancelled, or suspended)</p>
          </div>
          
          <hr>
          <div>
            <h4 class="display-7 lh-1 mb-3">Condition for a Advertiser:</h4>
            <p class="lead">If you wish to become advertiser and advertise the BassHarbour Ayurveda we offer the best referral rewards</p>
            <p class="lead">Get ₹90/each referral ( NOTE : This is applicable after minimum 2 referral )</p>
            <p class="lead">Get ₹20/week for advertisement ( NOTE: This is applicable after minimum 2 referral )</p>
          </div>

          <hr>
          <div>
            <h4 class="display-7 lh-1 mb-3">Contact us:</h4>
            <p class="lead">bassharbourproducts@gmail.com</p>
            <p class="lead">Send your problem with screenshots to the e-mail.Our team responses within 24 hrs</p>
            
        </div>
      </div>
</div>

<%- include("partials/footer.ejs") %>