<%- include("partials/header.ejs") %>

<style>
    body {
        background: linear-gradient(45deg, #1a1a1a, #333333);
        font-family: Arial, sans-serif;
        color: #fff;
        margin: 50px;
        padding: 0;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container {
        width: 400px;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        background: rgba(0, 0, 0, 0.5);
    }

    h1 {
        text-align: center;
        margin-bottom: 30px;
    }

    .form-floating label {
        color: #ccc;
    }

    .form-control {
        background-color: rgba(255, 255, 255, 0.1);
        border: none;
        color: #fff;
        margin-bottom: 20px;
    }

    .form-control:focus {
        background-color: rgba(255, 255, 255, 0.2);
        color: #fff;
    }

    .btn-dark {
        background-color: #007bff;
        border-color: #007bff;
        transition: all 0.3s ease;
    }

    .btn-dark:hover {
        background-color: #0056b3;
        border-color: #0056b3;
    }

    .text-body-secondary {
        color: #bbb;
        text-align: center;
    }
</style>

<div class="container">
    <h1 class="display-4 fw-bold">BassHarbour Ayurveda</h1>
    <form action="/login" method="post">
        <h2 class="h5 mb-4">Please login in</h2>

        <div class="form-floating">
            <input type="email" class="form-control" name="email" id="email" placeholder="name@example.com">
            <label for="email">Email address</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" name="password" id="password" placeholder="Password">
            <label for="password">Password</label>
        </div>

        <button class="btn btn-dark w-100 py-2 mt-3" type="submit">Login</button>
        <p class="mt-4 mb-3 text-white">Forget password? <a href="/reset">Reset password</a></p>
        <p class="mt-4 mb-3 text-white">Don't have an account? <a href="/register">Register</a></p>
    </form>
</div>
